#applyform{
    

    margin-top: 1rem;
    
    
}

.applyform-2{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/blue-close-up-concrete-304664.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
 
  
  overflow: hidden;

}


@media (min-width:992px) and (max-width:1199px){
  
}
@media (min-width:768px) and (max-width:991px){
 
}

@media (max-width:767px){
  .applyform-2{
    display: none;
  }
  
    
  }


@media (max-width:480px){
  .applyform-2{
    display: none;
  }
   
  

  .grey-text{
    font-size:0.2rem;
  }
}



.custom-label{
    margin-right:0.5rem;
}
input[type="file"] {
    cursor: pointer !Important;
    font: 300 14px sans-serif;
    color:#9e9e9e;
  }
  input[type="file"]::-webkit-file-upload-button
  {
    font: 300 14px  sans-serif;
    background: #009688;
    border: 0;
    padding: 12px 25px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }
   
  input[type="file"]::-ms-browse {
    font: 300 14px 'Roboto', sans-serif;
    background: #009688;
    border: 0;
    padding: 12px 25px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }
  