#login{
  
  position: absolute;
  top: 65%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 25rem;
 
}

@media (max-width:768px){
  #login{
    width: 20rem;
    top: 50%;
    left: 50%;

  }

  .grey-text{
    font-size:1rem;
  }

}